.container {
  min-height: 100vh;
  padding: 3rem 1rem;
  position: relative;
  border: 1px solid #f1f1f1;
}
.title {
  color: #fff;
  font-size: 35px;
}
.description {
  color: #fff;
}
.controlLabel {
  font-size: 18px;
  color: #fff;
}
.link {
  font-weight: bold;
  color: #007bff;
}
.highlightText {
  color: #ff3d7f;
}
.stoppedArea {
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.stoppedAreaTitle {
  display: inline-block;
  border: 1px solid #ff3d7f;
  color: #fff;
  font-size: 12px;
  padding: 0.3rem 1.5rem;
  border-radius: 5px;
}
.speechContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.languageContainer {
  margin-top: 1.5rem;
}
.label {
  color: #fff;
}
.select,
.textArea {
  display: block;
  width: 100%;
  text-indent: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select,
.textarea::focus {
  outline: none;
  box-shadow: none;
}

/*************************/
/* Start Voice Bar Style */
/*************************/

.barContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  /*     background: black; */
}
.barArea {
  /* min-height: 100px; */
  display: block;
  position: relative;
  height: 70px;
}
.bar {
  background: #ff3d7f;
  bottom: 1px;
  height: 2px;
  width: 5px;
  margin: 0px 4px;
  border-radius: 5px;
  animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 60px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 15px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 29px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 43px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 57px;
  animation-duration: 400ms;
}
.bar:nth-child(6) {
  left: 71px;
  animation-duration: 427ms;
}
.bar:nth-child(7) {
  left: 85px;
  animation-duration: 441ms;
}
.bar:nth-child(8) {
  left: 99px;
  animation-duration: 419ms;
}
.bar:nth-child(9) {
  left: 113px;
  animation-duration: 487ms;
}
.bar:nth-child(10) {
  left: 127px;
  animation-duration: 442ms;
}
.bar:nth-child(11) {
  left: 141px;
  animation-duration: 487ms;
}
.bar:nth-child(12) {
  left: 155px;
  animation-duration: 532ms;
}
/*************************/
/* End Voice Bar Style */
/*************************/

.playButtonContainer {
  display: flex;
  justify-content: center;
}
.speechButton {
  border: none;
  padding: 0;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  font-size: 2em;
  color: #fff;
  padding: 0;
  margin: 0;
  background: #ff3d7f;
  position: relative;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}

.pulseRing {
  content: "";
  width: 70px;
  height: 70px;
  border: 5px solid #ff3d7f;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  animation: pulsate infinite 2s;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.voiceControlsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.voiceVolumeContainer {
}
